/* Recipes.css */

.garden-dashboard-content {
    background: url('../images/garden_background.jpg') no-repeat center center;
    background-size: cover;
    padding: 2rem;
    border-radius: 8px;
    color: #333;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .garden-heading {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
  
.set-h1 {
  position: unset !important;
  top: unset !important;
  left: unset !important;
  transform: unset !important;
}
h2 {
  display: inline;
  margin-left: 20px;
}
.clock {
  width: 20px;
  aspect-ratio: 1;
}
.recipe-img {
  border-radius: 10px;
  &.unknown {
    border: 4px solid #c0c0c0;
  }
}
  .recipes-box {
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1.5rem;
    border-radius: 6px;
    max-width: 800px;
    width: 100%;
  }
  
  .recipes-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .recipe-item {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
  }
  
  .recipe-item:last-child {
    border-bottom: none;
  }
  

.container {
  margin-top: 24px;
  background: url('../images/garden_background.jpg') repeat center center;
  background-position-y:0;
  padding: 2rem;
  border-radius: 8px;
  color: #000000;
  min-height: 80vh;
}
