/* src/components/Navbar.css */

/* Basic green background for your Navbar */
.garden-navbar {
    background-color: #246f26;
    border-radius: 8px;
    padding: 0px 50px !important;
  }
  
  /* Basic link styling */
  .garden-nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 600;
  }
  
  .garden-nav-link:hover {
    color: #f0f0f0;
  }
  
  /* Profile dropdown style */
  .garden-user {
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .garden-avatar {
    margin: 5px 0px;
    aspect-ratio: 1;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 8px;
  }
  
  .garden-user-name {
    font-weight: 600;
    margin-left: 5px;
  }
  
  .garden-dropdown-link {
    color: #333;
    text-decoration: none;
  }
  
  .garden-dropdown-link:hover {
    color: #666;
  }
  
